/* Custom styling for card */
.card {
    border-radius: 10px;
  }
  
  .card-body {
    background-color: #f8f9fa;
  }
  
  h3 {
    color: #333;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
  }
  
  .forgot-password a {
    color: #007bff;
    text-decoration: none;
  }
  .page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .dashboard-content {
    display: flex;
    width: 100%;
    /* padding: 20px; */
  }
  
  /* .sidebar {
    width: 50px;
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  
  .dashboard-columns {
    display: flex;
    flex: 1;
    gap: 20px;
  }
  
  .dashboard-column {
    flex: 1;
    padding: 20px;
  }
  
  .left-column {
    max-width: 400px; /* Adjust the width of the user form */
  }
  
  .right-column {
    flex: 2; /* Right column takes up more space */
  }
  
  button.home-btn, button.settings-btn {
    margin-bottom: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
  }

 
  